.gridsystem {
  display: grid;
  height: 100vh;
  grid-template-columns: 5% 75% 20%;
  grid-template-rows: 50px 71px 150px 1fr 70px;
}

.gridsystem > nav:first-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gridsystem > h1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.gridsystem > div {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.gridsystem > nav:last-child {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}
