<div class="fullWidth">
  <ul class="list">
    <li>
      <img src="../../assets/Espresso.svg" alt="Espresso Cup" /><span
        >Espresso</span
      ><img src="../../assets/back.svg" alt="right arrow" />
    </li>
    <li>
      <img src="../../assets/Cappuccino.svg" alt="Cappuccino Cup" /><span
        >Cappuccino</span
      ><img src="../../assets/back.svg" alt="right arrow" />
    </li>
    <li>
      <img src="../../assets/macciato.svg" alt="Macchiato Cup" /><span
        >Macchiato</span
      ><img src="../../assets/back.svg" alt="right arrow" />
    </li>
    <li>
      <img src="../../assets/Mocha.svg" alt="Mocha Cup" /><span>Mocha</span
      ><img src="../../assets/back.svg" alt="right arrow" />
    </li>
    <li>
      <img src="../../assets/latte.svg" alt="Latte Cup" /><span>Latte</span
      ><img src="../../assets/back.svg" alt="right arrow" />
    </li>
  </ul>
</div>
